/* Start Import */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* End Import */

/* Start Body */
body {
    background-color: khaki;
}
body {
    color: darkblue;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 5;
    padding: 4;   
}
/* End Body */

/* Start Debug */
.bg-blue {
    background-color: sienna;
}

.bg-red {
    background-color: burlywood;
}
/* End Debug */

/* Start Container */
.Container {
    margin: 10px auto;
    overflow: auto;
    width: 95%;
}

/* End Container */

/* Start logo */
.adenerwin77 {
    text-align: center;
}
/* End logo */

/* Start Anchor Hyperlink */
a:link,
a:visited {
    color: cyan
    text-decoration: underline;
}
a:hover,
a:active {
    color:white;
    text-decoration: underline;
}
/* End Anchor Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
}

.menu-primer a {
    color: coral;
    font-size: 16px;
    padding: 25px 25px;
    text-transform: uppercase;

}
.menu-primer a:hover {
    background-color:chocolate;
    color: darkblue;
    text-decoration: none;
}
.menu-primer a:active {
    background-color:cadetblue;
    color: black;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: fuchsia;
    border: 1px solid gold;
    border-radius: 4px;
    padding: 20px 0;
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Box */

/* End Box */
